.ui {
  padding-bottom: 15px;
  .product-id-input {
    width: 200px;
  }
}

.horizontal {
  .vertical {
    max-height: 800px;
    .testing-data {
      overflow-y: scroll;
    }
    .subscription-item {
      display: flex;
      flex-direction: row;
      // display: flex;
      // flex-direction: row;
      // justify-content: flex-start;
      // align-items: center;

      // .mat-mdc-list-item {
      //   display: flex;
      // }
    }
  }
}

.ui,
.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vertical {
  display: flex;
  flex-direction: column;
}
